body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-validation-error,
.field-validation-error,
.validation-summary-errors
{ 
    color: red; font-weight: bold;
}

.button-my-green {
    background-color: #7FBF4D;
    border-width: 1px;
    border-style: solid;
    border-color: #62A72E #61A52D #5A9729;
    border-radius: 3px;
    color: #FFF;
    text-align: center;
    margin-top: 15px;
}

.category-name, .td1
{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;   
    word-break:normal;
}

.post-container {
	margin-left: 5%;
}

.thread-container {
    background: #FFF none repeat scroll 0px 0px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    margin: 20px 10px;
    padding: 5px 1.5em;
    position: relative;
    width: 90%;
}

.thread-title {
    font-weight: bold;
    font-size: 24px;
}

.post-head {
    background-color: #DDD;
}

.post-container
{
    border: 1px solid;
    margin-bottom: 10px;
}

.post-content
{
    background-color: #5BFC8E;
    padding: 5px
}

.disable-max-width-setting
{
    max-width: 100%
}

.edit-button
{
    float: right;
    padding: 0px 0px;
    margin-right: 4px
}