@model IEnumerable<Forum.Models.V_Threads>


<table style="border:1px solid black;">
    <tr>
        <td class="td1">
            Thread name
        </td>
        <td class="td1">
            Started @*Zmienić to, pokazuję dane ostatniego postu: albo pobierać poprawne dane, albo zmienić opis*@ 
        </td>
        <td class="td1">
            Posts
        </td>
        <td class="td1">
            Last post
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td class="td1">
                <b> @Html.DisplayFor(m => item.Title) </b>
 
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.Started)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.PostsNumber)
            </td>
            <td class="td1">
                @Html.DisplayFor(m => item.LastPost)
            </td>
        </tr>
    }

</table>

