@model Domain.Models.User

<h3>Are you sure you want to ban this user? His posts and threads will remain intact.</h3>
<div>
    <hr />
    @Html.Partial(MVC.Shared.Views.ShowProfile)

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        
        <div class="form-actions no-color">
            <input type="submit" value="Ban" class="btn btn-danger" />
            @Html.ActionLink("Cancel", MVC.User.Index())
        </div>
    }
</div>